{{ define "main" }}
  {{ partial "page-header" . }}

    <br>
    <br>
    <div class="container">
      <div class="row">
        {{ range .RegularPages }}
          {{ $position := .Params.position}}
          {{ if eq $position "principal investigator"}}    
            <div class="md:col-6 lg:col-4 mb-14">
              <h2> Principal Investigator </h2>
              <hr>
              <br>
              {{ partial "components/person-card" . }}
            </div>
          {{ end }}
        {{ end }}

        {{ range .RegularPages }}
          {{ $position := .Params.position}}
          {{ if eq $position "lab manager"}}    
            <div class="md:col-6 lg:col-4 mb-14">
              <h2> Lab Manager </h2>
              <hr>
              <br>
              {{ partial "components/person-card" . }}
            </div>
          {{ end }}
        {{ end }}

      </div>
    </div>


    <div class="container">
      <div class="row">
        <h2> Postdoc Researchers </h2>
        <hr>
        <br>
        {{ range .RegularPages }}
          {{ $position := .Params.position}}
          {{ if eq $position "postdoc"}}    
            <div class="md:col-6 lg:col-4 mb-14">
              {{ partial "components/person-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2> Graduate Students </h2>
        <hr>
        <br>
        {{ range .RegularPages }}
          {{ $position := .Params.position}}
          {{ if eq $position "graduate student"}}    
            <div class="md:col-6 lg:col-4 mb-14">
              {{ partial "components/person-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>


    <div class="container">
      <div class="row">
        <h2> Alumni </h2>
        <hr>
        <br>
        {{ range .RegularPages }}
          {{ $position := .Params.position}}
          {{ if eq $position "alumni"}}    
            <div class="md:col-6 lg:col-4 mb-14">
              {{ partial "components/person-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>

{{ end }}