// image style in person-card
.person_img {
    border-radius: 15px;
    padding: 5px;
    width: 70%;
    height: auto;
  }

// centering image in person-card
.person_img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

// increase menu font
.nav-link {
  color:#ffe6f2;
  font-size: 20px;
}

// highlight selected menu item
.nav-link.active {
  color:#c20f62;
}

// menu item on hover
.nav-link:hover {
  color:#e8930a;
}

// header style (menu + logo)
.nav-style{
  background-color: #0c2340;
  border-radius: 1px;
}