// make header smaller
.header {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

// image style in person-card
.person-img {
    border-radius: 50%;
    padding: 5px;
    width: 70%;
    height: auto;
  }

// centering image in person-card
.person-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.person-card{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  // background-image: linear-gradient(0deg, #ebedee, #ffffe6 40%, #fdfbfb);
  background-image: linear-gradient(0deg, #fdfbfb, #ebedee);
}

// style for contacts information on person card
.person-contacts{
  font-family: "Arial";
  font-size: 1.1rem;
}

// increase menu font
.nav-link {
  color:#f8faff;
  font-size: 20px;
}

// highlight selected menu item
.nav-link.active {
  color:#f8f8ba;
}

// menu item on hover
.nav-link:hover {
  color:#ae9142;
}

// header style (menu + logo)
.nav-style{
  background-color: #0c2340;
  border-radius: 1px;
}


// search icon custom style
.text-xl:hover{
  color:#f8f8ba;
}

// custom spacing for main page banner (was 6rem)
.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// custom spacing for main page features (was 4rem)
.section-sm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// image on main page in features
.image-feature {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

// style for feature card
.box-feature {
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

// style for banner image
.banner-image{
  width: 100%;
}

// style for section on the main page
.banner-section{
  padding-top: 1rem;
  padding-bottom: 3rem; 
}

// This is fix to keep footer always down.
// footer
.footer-style{
  margin-top: auto;
}

// body
.body-style{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
