{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-7">
      <div class="container">
        <div class="row justify-center">
          <div class="text-center">  <!-- lg:col-7 was here -->
            <h1 class="mb-4">
              {{ .title | markdownify }}
            </h1>

            <h5 class="mb-4">
              {{ .subtitle | markdownify }}
            </h5>

            <p class="mb-8 text-left "> <!-- Change Banner style here! Was text-lg also.-->
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "banner-image" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Features -->
  <div class="container">
    <div class="row">
      {{ range $i, $e:= .Params.features }}

        <div class="md:col-6 lg:col-4 mb-14">
          <h3 class="text-center"> {{.title}} </h3>
              <div class="bg-theme-light dark:bg-darkmode-theme-light box-feature text-center">
                {{ $image:= .image }}

                {{ if $image }}
                  {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mb-10 image-feature") }}
                {{ end }}

                <h4 class="mb-3">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h4>

                <p class="mb-1 p-4">
                  {{ .content | markdownify }}
                </p>

                {{ with .button }}
                  {{ if .enable }}
                    <a class="btn btn-primary mt-4 mb-4" href="{{ .link | absURL }}">
                      {{ .label }}
                      <i class="fa fa-arrow-right pl-2"></i>
                    </a>
                  {{ end }}
                {{ end }}
            </div>
        </div>

      {{ end }}
    </div>
  </div>
  <!-- /Features -->

{{ end }}


