{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-7">
      <div class="container">
        <div class="row justify-center">
          <div class="text-center">  <!-- lg:col-7 was here -->
            <h1 class="mb-4">
              {{ .title | markdownify }}
            </h1>

            <h5 class="mb-4">
              {{ .subtitle | markdownify }}
            </h5>

            <p class="mb-8 text-left "> <!-- Change Banner style here! Was text-lg also.-->
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Features -->
  <div class="container">
    <div class="row">
      {{ range $i, $e:= .Params.features }}

        <div class="md:col-6 lg:col-4 mb-14">
          <h3> {{.title}} </h3>
          <hr>
          <br>
              <div
              class="bg-theme-light dark:bg-darkmode-theme-light rounded p-4 text-center">
              {{ $image:= .image }}
              {{ if $image }}
                {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mb-10 person_img_center person_img") }}
              {{ else if .Params.Email }}
                <img
                  class="mx-auto mb-6 rounded"
                  alt="{{ .Title }}"
                  height="120"
                  width="120"
                  src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" />
              {{ end }}
              <h4 class="mb-3">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h4>
              <p class="mb-1">
                {{ .content | markdownify }}
              </p>
              {{ with .button }}
                {{ if .enable }}
                  <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                    {{ .label }}
                    <i class="fa fa-arrow-right pl-2"></i>
                  </a>
                {{ end }}
              {{ end }}
            </div>
        </div>

      {{ end }}
    </div>
  </div>
  <!-- /Features -->

{{ end }}


